{% extends 'blog/base.html' %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container mt-5">
        <!-- Page Header with Logo -->
        <div class="text-center mb-4">
            <img src="{% static 'images/caco.jpg' %}" alt="Logo" class="img-fluid" style="max-width: 150px;">
        </div>

        <h1 class="text-center mb-4">Profile Information</h1>
        <div class="row">
            <div class="col-md-4 text-center">
                <!-- Profile Image -->
                <img src="{{ user.passport_image.url }}" alt="Profile Image" class="img-fluid rounded-circle" style="max-width: 200px;">
            </div>
            <div class="col-md-8">
                <!-- Profile Details -->
                <dl class="row">
                    <dt class="col-sm-4">First Name:</dt>
                    <dd class="col-sm-8">{{ user.first_name }}</dd>

                    <dt class="col-sm-4">Middle Name:</dt>
                    <dd class="col-sm-8">{{ user.middle_name }}</dd>

                    <dt class="col-sm-4">Surname:</dt>
                    <dd class="col-sm-8">{{ user.surname }}</dd>

                    <dt class="col-sm-4">NIDA Number:</dt>
                    <dd class="col-sm-8">{{ user.nida_number }}</dd>

                    <dt class="col-sm-4">Email:</dt>
                    <dd class="col-sm-8">{{ user.email }}</dd>

                    <dt class="col-sm-4">Gender:</dt>
                    <dd class="col-sm-8">{{ user.get_gender_display }}</dd>

                    <dt class="col-sm-4">Phone Number 1:</dt>
                    <dd class="col-sm-8">{{ user.phone_number_1 }}</dd>

                    {% if user.phone_number_2 %}
                        <dt class="col-sm-4">Phone Number 2:</dt>
                        <dd class="col-sm-8">{{ user.phone_number_2 }}</dd>
                    {% endif %}
                </dl>

                <div class="text-center mt-4">
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
